.profile__button-edit {
    min-width: 24px;
    height: 24px;
    margin-left: 18px;
    align-self: center;
    background-color: transparent;
    border: 1px solid white;
    padding: 0;
    cursor: pointer;
}

.profile__button-edit:hover {
    opacity: 0.5;
}