.button_invalid {
    font-family: 'Inter';
    font-weight: 400;
    max-width: 358px;
    height: 50px;
    background: #e6e6e6;
    border: 1px solid #dcdcdc;
    border-radius: 2px;
    color: #808080;
    margin: 48px 36px 37px 36px;
    cursor: default;
}