.profile {
    display: flex;
    align-items: center;
    max-width: 880px;
    max-height: 120px;
    margin: 36px auto 47px auto;
}

@media screen and (max-width: 1023px) {
    .profile {
        display: flex;
        align-items: center;
        max-width: 85vw;
        max-height: 120px;
        margin: 36px auto 47px;
    }
}