.form__input-error_active {
    display: block;
    max-width: 310px;
    margin-left: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #FF0000;
}