.header__line {
    min-width: 880px;
    color: white;
    opacity: 0.3;
}

@media screen and (max-width: 1023px) {
    .header__line {
        max-width: 85vw;
        color: white;
        opacity: 0.3;
    }
}