.popup__button-close {
    width: 32px;
    height: 32px;
    background-color: transparent;
    position: absolute;
    top: -35px;
    right: -35px;
    cursor: pointer;
    border: 0;
}

.popup__button-close:hover {
    opacity: 0.5;
}