.place__like {
    height: 19px;
    width: 22px;
    padding: 0;
    background-color: transparent;
    background: url(/src/images/heart_disabled.svg);
    border: 0;
    cursor: pointer;
}

.place__like:hover {
    opacity: 0.5;
}